body {
    display: flex;
    flex-direction: column;
    overscroll-behavior: none;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(rgb(134, 98, 98), rgb(78, 78, 113));
    background-color: rgb(148, 148, 148);
    background-size: cover;
}


* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: Avantgarde, sans-serif;
}

#results {
    justify-content: space-evenly;
    display: flex;
    flex: 1;
    align-items: center;
    font-size: 80px;
    text-align: center;
    color: white;
    text-shadow: 7px 7px 3px black;
}

.end-screen {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: rgba(6, 6, 7, 0.587);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.end-screen-window {
    background-color: rgba(86, 79, 79, 0.944);
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80vh;
    justify-content: space-around;
    align-items: center;
    font-size: 100px;
    color: rgb(232, 232, 232);
}

.end-screen-score {
    font-size: 50px;
    color: rgb(232, 232, 232);
}

.end-screen-button {
    width: 300px;
    height: 125px;
    font-size: 50px;
}

.score-text {
    font-size: 50px;
}

#score {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex: 1;
    width:100%;
    color: white;
    text-shadow: 2px 2px 3px black;
}

.human-score,
.computer-score {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 150px;
    text-shadow: 7px 7px 3px black;
}

.top,
.buttons {
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
}

.buttons {
    box-sizing: border-box;
    gap: 30px;
    padding: 0 50px;
}

#rock,
#paper,
#scissors {
    background-color: rgb(255, 255, 255);
    flex: 1;
    height: 400px;
    font-size: 80px;
    border-radius: 40px;
    box-shadow: 10px 10px 5px black;
    transition: .1s;
}

#rock:active,
#paper:active,
#scissors:active {
    box-shadow: 1px 1px 5px black;
}
